# React Native
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
.expo-shared/

# macOS
.DS_Store

# Android
android/.gradle
android/app/build
*.iml
.idea/
.gradle
local.properties

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
*.xcworkspace
*.xcodeproj

# Log files
*.log

# OS metadata
Thumbs.db
ehthumbs.db

# Firebase config (if not public)
*.firebase
.env

# VSCode settings (optional)
.vscode/

